.loginBtn {
  background-color: var(--accent-color) !important;
  color: var(--white) !important;
  border: 0 !important;
  margin-top: 10px;
  width: 100%;
}

.loginBtn:hover {
  color: var(--hover-color) !important;
  background-color: var(--hover-bg) !important;
}

.forgetPassword a {
  color: var(--primary-color);
}

.forgetPassword a:hover {
  color: var(--hover-color);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d;
  margin: 2rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}

.divider:not(:empty)::before {
  margin-right: 1em;
}

.divider:not(:empty)::after {
  margin-left: 1em;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: #f1523c; /* A reddish-orange color similar to the image */
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #d44937;
  transition: background-color 0.3s ease;
}

.googleBtn:hover {
  background-color: #d44937;
}

.googleIcon {
  height: 20px;
  width: 20px;
}
