.search-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eaeef5;
}

.search-item:last-child {
  border-bottom: none;
}

.search-checkbox {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  accent-color: var(--secondary-color);
  cursor: pointer;
}

.search-info {
  flex: 1;
}

.search-title {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.search-location {
  color: #67758d;
  font-size: 14px;
}