.breadcrumb {
  background: var(--secondary-color);
  padding: 0.6rem 1rem;
  border-radius: var(--radius-lg);
  border: 1px solid rgba(255, 255, 255, 0.03);
  display: inline-block;
  margin-bottom: 1.25rem;
  color: var(--primary-color);
}

.container {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 8px;
  color: var(--black);
}

.breadcrumb a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumb a:hover {
  color: var(--primary-color);
}

.current {
  color: var(--primary-color);
}
