.registerBtn {
  background-color: var(--accent-color) !important;
  color: var(--white) !important;
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registerBtn:hover {
  color: var(--hover-color) !important;
  background-color: var(--hover-bg) !important;
}
