.resetLinkBtn {
  background-color: var(--accent-color) !important;
  color: var(--white) !important;
  border: 0 !important;
  margin-top: 10px;
  width: 100%;
}

.resetLinkBtn:hover {
  color: var(--hover-color) !important;
  background-color: var(--hover-bg) !important;
}
